<h1>Edit all justifies</h1>

<% @comments.each do |comment| %>
  <p>
    <b>Who</b>?:</b>
    <%= comment.user.name %>
    <b>Approved:</b>
    <%= comment.approved %>
    <p>
      <b>Justify:</b>
    </p>
    <p>
      <%= comment.justify %>
    </p>
  </p>
  <hr />
<% end %>

<%= link_to t('.back'), comments_path %>