<div style="border:5px solid #ccc; padding: 5px">
  <strong>Atributo modificado: </strong>
  <%= changes.first %>
  <br />

  <h4>Valor anterior</h4>
  <%= changes.last.first %>
  <h4>Novo valor</h4>
  <%= changes.last.last %>
  <br />
</div>